<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin Area | Reservation</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.js"></script>

    <style>
      .clickable{
          cursor: pointer;   
      }
      
      .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pato Admin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="menu">Menu</a></li>
            <li class="active"><a href="reservation">Reservation</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="about">About</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../admin">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="header">
      <div class="container">
            <h3>Manage Reservation Page</h3>
      </div>
    </header>

    <section id="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li class="active">Reservations</li>
        </ol>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <a href="dashboard" class="list-group-item main-color-bg">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
              </a>
              <a href="menu" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Menu </a>
              <a href="reservation" class="list-group-item active"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Reservation </a>
              <a href="gallery" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Gallery </a>
              <a href="about" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> About </a>
              <a href="blog" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Blog </a>
              <a href="contact" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact </a>
            </div>
            <div class="well">
              <h4>Disk Space Used</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  60%
                </div>
              </div>
              <h4>Bandwith Used</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                    25%
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-9">
            <!-- Website Overview-->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Client's Reservations</h3>
              </div>
            </div>

            <!-- Events display "today" -->
            <div class="panel p panel-primary">
              <div class="panel-heading pheader">
                <h3 class="panel-title">Reservations</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
              </div>
              <div class="panel-body pbody">
                <% allBookings.forEach(function(booking) { %>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-4">Name: <b><%= booking.username %></b></div>
                      <div class="col-lg-4">Tel: <a href="<%= booking.phone %>"><b><%= booking.phone %></b></a></div>
                      <div class="col-lg-4">Email: <a href="<%= booking.phone %>"><b><%= booking.email %></b></a></div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">People: <b><%= booking.people %></b></div>
                      <div class="col-lg-4">Date: <b><%= booking.datex %></b></div>
                      <div class="col-lg-4">Time: <b><%= booking.time %></b></div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <span style="float: inline-start;"><em><%= booking.date.toDateString() %></em></span>
                      </div>
                      <div class="col-lg-6">
                        <a href="/admin/reservation/<%= booking._id %>/delete" class="btn btn-danger" style="float: right;">Delete</a>
                      </div>
                    </div>
                  </div>
                </div> <hr>
                <% }); %>
              </div>
          </div>
          <!-- Events display "last 7 days" -->
          <!-- <div class="panel p panel-primary">
            <div class="panel-heading pheader">
              <h3 class="panel-title">Last 7 days</h3>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body pbody">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">Name: <b>Lorem Ipsum Lorem Ipsum</b></div>
                    <div class="col-lg-4">Tel: <b>+254 789 123 456</b></div>
                    <div class="col-lg-4">Email: <b>email@email.com</b></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">People: <b>4</b></div>
                    <div class="col-lg-4">Date: <b>Tue~12/05/2021</b></div>
                    <div class="col-lg-4">Time: <b>20:00</b></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <span style="float: inline-start;"><em>12/2/2021</em></span>
                    </div>
                    <div class="col-lg-6">
                      <input type="submit" class="btn btn-danger" value="Delete" style="float: right;">
                    </div>
                  </div>
                </div>
              </div> <hr>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">Name: <b>Lorem Ipsum Lorem Ipsum</b></div>
                    <div class="col-lg-4">Tel: <b>+254 789 123 456</b></div>
                    <div class="col-lg-4">Email: <b>email@email.com</b></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">People: <b>4</b></div>
                    <div class="col-lg-4">Date: <b>Tue~12/05/2021</b></div>
                    <div class="col-lg-4">Time: <b>20:00</b></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <span style="float: inline-start;"><em>12/2/2021</em></span>
                    </div>
                    <div class="col-lg-6">
                      <input type="submit" class="btn btn-danger" value="Delete" style="float: right;">
                    </div>
                  </div>
                </div>
              </div> <hr>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">Name: <b>Lorem Ipsum Lorem Ipsum</b></div>
                    <div class="col-lg-4">Tel: <b>+254 789 123 456</b></div>
                    <div class="col-lg-4">Email: <b>email@email.com</b></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">People: <b>4</b></div>
                    <div class="col-lg-4">Date: <b>Tue~12/05/2021</b></div>
                    <div class="col-lg-4">Time: <b>20:00</b></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <span style="float: inline-start;"><em>12/2/2021</em></span>
                    </div>
                    <div class="col-lg-6">
                      <input type="submit" class="btn btn-danger" value="Delete" style="float: right;">
                    </div>
                  </div>
                </div>
              </div> <hr>
            </div>
        </div> -->
        <!-- Events display "past" -->
        <!-- <div class="panel p panel-primary">
          <div class="panel-heading pheader">
            <h3 class="panel-title">Past</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body pbody">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">Name: <b>Lorem Ipsum Lorem Ipsum</b></div>
                  <div class="col-lg-4">Tel: <b>+254 789 123 456</b></div>
                  <div class="col-lg-4">Email: <b>email@email.com</b></div>
                </div>
                <div class="row">
                  <div class="col-lg-4">People: <b>4</b></div>
                  <div class="col-lg-4">Date: <b>Tue~12/05/2021</b></div>
                  <div class="col-lg-4">Time: <b>20:00</b></div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <span style="float: inline-start;"><em>12/2/2021</em></span>
                  </div>
                  <div class="col-lg-6">
                    <input type="submit" class="btn btn-danger" value="Delete" style="float: right;">
                  </div>
                </div>
              </div>
            </div> <hr>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">Name: <b>Lorem Ipsum Lorem Ipsum</b></div>
                  <div class="col-lg-4">Tel: <b>+254 789 123 456</b></div>
                  <div class="col-lg-4">Email: <b>email@email.com</b></div>
                </div>
                <div class="row">
                  <div class="col-lg-4">People: <b>4</b></div>
                  <div class="col-lg-4">Date: <b>Tue~12/05/2021</b></div>
                  <div class="col-lg-4">Time: <b>20:00</b></div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <span style="float: inline-start;"><em>12/2/2021</em></span>
                  </div>
                  <div class="col-lg-6">
                    <input type="submit" class="btn btn-danger" value="Delete" style="float: right;">
                  </div>
                </div>
              </div>
            </div> <hr>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">Name: <b>Lorem Ipsum Lorem Ipsum</b></div>
                  <div class="col-lg-4">Tel: <b>+254 789 123 456</b></div>
                  <div class="col-lg-4">Email: <b>email@email.com</b></div>
                </div>
                <div class="row">
                  <div class="col-lg-4">People: <b>4</b></div>
                  <div class="col-lg-4">Date: <b>Tue~12/05/2021</b></div>
                  <div class="col-lg-4">Time: <b>20:00</b></div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <span style="float: inline-start;"><em>12/2/2021</em></span>
                  </div>
                  <div class="col-lg-6">
                    <input type="submit" class="btn btn-danger" value="Delete" style="float: right;">
                  </div>
                </div>
              </div>
            </div> <hr>
          </div>
      </div> -->

          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <p>Copyright AdminStrap, &copy; 2017</p>
    </footer>
<!-- Modals -->

  <!-- Add Page -->
  <div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Page</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
                  <label>Page Title</label>
                  <input type="text" class="form-control" placeholder="Page Title">
                </div>
                <div class="form-group">
                  <label>Page Body</label>
                  <textarea name="editor1" class="form-control" placeholder="Page Body"></textarea>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Published
                  </label>
                </div>
                <div class="form-group">
                  <label>Meta Tags</label>
                  <input type="text" class="form-control" placeholder="Add Some Tags...">
                </div>
                <div class="form-group">
                  <label>Meta Description</label>
                  <input type="text" class="form-control" placeholder="Add Meta Description...">
                </div>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

        <script>
            CKEDITOR.replace( 'editor1' );
        </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script>
      $(document).on('click', '.pheader span.clickable', function(e){
  var $this = $(this);
if(!$this.hasClass('panel-collapsed')) {
  $this.parents('.p').find('.pbody').slideUp();
  $this.addClass('panel-collapsed');
  $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
} else {
  $this.parents('.p').find('.pbody').slideDown();
  $this.removeClass('panel-collapsed');
  $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
}
})
  </script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
