<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gallery</title>
	<%- include ('./partials/head.ejs') %>
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<%- include ('./partials/header.ejs') %>
	</header>

	<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<%- include ('./partials/sidebar.ejs') %>
	</aside>


	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(images/bg-title-page-02.jpg);">
		<h2 class="tit6 t-center">
			Gallery
		</h2>
	</section>



	<!-- Gallery -->
	<div class="section-gallery p-t-118 p-b-100">
		<div class="wrap-label-gallery filter-tope-group size27 flex-w flex-sb-m m-l-r-auto flex-col-c-sm p-l-15 p-r-15 m-b-60">
			<button class="label-gallery txt26 trans-0-4 is-actived" data-filter="*">
				All Photo
			</button>

			<button class="label-gallery txt26 trans-0-4" data-filter=".Interior">
				Interior
			</button>

			<button class="label-gallery txt26 trans-0-4" data-filter=".Food">
				Food
			</button>

			<button class="label-gallery txt26 trans-0-4" data-filter=".Events">
				Events
			</button>

			<button class="label-gallery txt26 trans-0-4" data-filter=".Guests">
				Vip guests
			</button>
		</div>

		<div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25">
			<!-- - -->

			<% allImages.forEach(function(image) { %>
				<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom <%= image.category %>">
					<img src="/uploads/gallery/<%= image.filename%>" height="300" alt="IMG-GALLERY">
	
					<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<a class="btn-show-gallery flex-c-m fa fa-search" href="/uploads/gallery/<%= image.filename%>" data-lightbox="gallery"></a>
					</div>
				</div>     
			  <% }); %>
		</div>



	<%- include ('./partials/footer.ejs') %>


</body>
</html>
